@import url(/css/theme.css);

:root {
    /* For fragment animation */
    --r-h-translate: 1920px;
    --r-v-translate: 80px;
    --r-transition-time: 0.8s;
    --r-ease: cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

/* Layouts */
.nowrap {
    white-space: nowrap;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    /* For blur to work with Safari */
    will-change: transform;
}

/* Custom fragment animations */
.fragment.fade-in-up {
    transform: translate(0, var(--r-v-translate));
    visibility: hidden;
    opacity: 0;
}

.fragment.fade-in-up.visible {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    transition: var(--r-transition-time) var(--r-ease);
}

.fragment.move-in-from-right {
    transform: translate(var(--r-h-translate), 0);
    visibility: hidden;
}

.fragment.move-in-from-right.visible {
    transform: translate(0, 0);
    visibility: visible;
    transition: var(--r-transition-time) var(--r-ease);
}

.fragment.move-in-from-left {
    transform: translate(calc(var(--r-h-translate) * -1), 0);
    visibility: hidden;
    opacity: 0;
}

.fragment.move-in-from-left.visible {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    transition: var(--r-transition-time) var(--r-ease);
}

.fragment.fade-out-up.visible {
    transform: translate(0, calc(var(--r-v-translate) * -1));
    opacity: 0;
    visibility: hidden;
    transition: var(--r-transition-time) var(--r-ease);
}

.fragment.move-out-to-left.visible {
    transform: translate(calc(var(--r-h-translate) * -1), 0);
    visibility: hidden;
    transition: var(--r-transition-time) var(--r-ease);
}

.fragment.move-out-to-right.visible {
    transform: translate(var(--r-h-translate), 0);
    visibility: hidden;
    transition: var(--r-transition-time) var(--r-ease);
}

.fragment.blur-out.visible {
    /* For blur to work with Safari */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);

    filter: blur(20px);
}

/* Components */
.progress-container {
    width: 50%;
    background-color: #4C566A;
    height: 60px;
    border-radius: 15px;
}

.progress-bar {
    height: 100%;
    background-color: var(--r-main-color);
    transition: var(--r-transition-time) ease-out;
    border-radius: 15px 0 0 15px;
    padding-right: 15px;

    /* For the number counter inside */
    color: var(--r-background-color);
    display: flex;
    justify-content: right;
    align-items: center;
}

.my-slide-number {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

@property --percent {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

@property --temp {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

@property --v1 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@property --v2 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.counter {
    transition: --percent var(--r-transition-time) ease-out;
    --v1: max(var(--percent) - 0.5, 0);
    --v2: max((var(--percent) - var(--v1)) * 10 - 0.5, 0);
    counter-reset: v1 var(--v1) v2 var(--v2);
}

.counter::before {
    content: counter(v1) "." counter(v2) "%";
}