@import url(./theme.css);


/* Layouts */
.nowrap {
    white-space: nowrap;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    /* For blur to work with Safari */
    will-change: transform;
}

.color-img {
    width: 100%;
    /* This works best if the SVG uses fill="currentColor" */
    color: var(--r-main-color);
    /* Fallback for general SVGs: make image white, then tint */
    filter: brightness(0) saturate(100%) invert(92%) sepia(6%) saturate(0%) hue-rotate(183deg) brightness(104%) contrast(97%);
}

.invert-img {
    width: 100%;
    color: var(--r-main-color);
    filter: invert(1) hue-rotate(180deg);
}

.my-slide-number {
    position: absolute;
    right: 30px;
    bottom: 30px;
}